html {
  background: url(/assets/images/login-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login {
  background-color: #fff;
  opacity: 0.8;
  text-color: white;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 25px;
  margin: auto;
  margin-top: 125px;
}