html {
  background: url(/assets/images/login-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mdl-layout {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mdl-layout__content {
  padding: 24px;
  flex: none;
}
.mdl-button {
  margin-top: 5px;
  margin-bottom: 5px;
}