.mdl-textfield {
    display: block;
}

.save {
    padding: 0;
}

.detail-card-header {
    background: url(/assets/images/login-background-alt.jpg) no-repeat center center;
    background-size: cover
}