.mdl-card {
    width: 75%;
    margin: auto;
}

.mdl-textfield {
    margin: auto;
    display: block;
}

.profile-image {
    width: 200px;
    height: 200px;
    margin-left: 25px;
}

.save {
    padding: 0;
}

.detail-card-header {
    background: url(/assets/images/login-background-alt.jpg) no-repeat center center;
    background-size: cover
}