@(user: User)(sale: Sale)(items: List[Item])
@main(title = "Catalog of Sale \"" + sale.getName() + "\"") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createsale.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">

    <a href="@routes.CatalogController.renderAddItemPage(sale.getId)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect createsale-link">
        Add New Item
    </a>
    <div class="demo-card-wide">
        <div class="mdl-card--border">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp sales-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item <- items) {
                        <tr class="item-row" >
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="@routes.CatalogController.renderModifyItemPage(sale.getId, item.getId)">@item.getName()</a>
                            </td>
                            <td onClick="window.location = $(this).parent().find('a').attr('href');">@item.getDescription()</td>
                            <td onClick="window.location = $(this).parent().find('a').attr('href');">@item.getPrice()</td>
                            <td onClick="window.location = $(this)parent().find('a').attr('href');">@item.getQuantity()</td>
                            <td><a href="@routes.CatalogController.renderTag(sale.getId, item.getId)">Print tags</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <script>
                $("#search").on("keyup", function() {
                    var query = $(this).val().toLowerCase().trim();

                    $(".item-row").each( function() {
                        var text = $(this).children().text().toLowerCase().trim();

                        if (text.indexOf(query) != -1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            </script>
        </div>
    </div>


}