@(user: User)(sale: Sale)(item: Item)
@main(title = "Preorder Item") {

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/preorder.css")">

      <div class="demo-card-wide">
          <div class="mdl-card mdl-card--border mdl-shadow--2dp mdl-card__supporting-text">
            <form class="update-form" method="post">
                <h4>Preorder @item.getName</h4>
              <ul>
                  <li>
                      <p>Description: @item.getDescription</p>
                  </li>
                  <li>
                      <p>Original Price: $@item.getPrice</p>
                  </li>
                  <li>
                      @if(item.getBidPrice == 0.0) {
                        <p>Current Bid: No Current Bid</p>
                      } else {
                        <p>Current Bid: $@item.getBidPrice (@item.getBidUser.getUserName)</p>
                      }
                  </li>
                <li class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="bidPrice" id="bid"/>
                    <label class="mdl-textfield__label" for="bid">My Bid Price</label>
                </li>
                  <input type="hidden" value="@sale.getId" name="saleId" />
              </ul>
                <a href="" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Preorder
                </a>
                <a href="" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Confirm Bid
                </a>
            </form>
        </div>
    </div>

}