@(user: User)(sales: List[Sale])
@main(title = "Current Sales of " + user.getFirstName) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createsale.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">
    <script src="@routes.Assets.versioned("javascripts/table.js")"></script>

    <a href="@routes.SalesController.createSalePage" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect createsale-link">
        Create
    </a>
    @*<div class="demo-card-wide">*@
        @*<div class="mdl-card--border">*@
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp sales-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Sale Name</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @for(sale <- sales) {
                            <tr onclick="window.location = $(this).find('a').attr('href')">
                                <td class="mdl-data-table__cell--non-numeric">
                                    <a href="@routes.CatalogController.renderCatalogPage(sale.getId)">
                                        @sale.getName()
                                    </a>
                                </td>
                                <td>@sale.getLocation()</td>
                            </tr>
                    }
                </tbody>
            </table>
        @*</div>*@
    @*</div>*@


}