@(user: User)(sale: Sale)(transactions: List[Transaction])(items: List[Item])
@main(title = "Transaction") {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/transaction.css")">

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col register">
        <h2>Register</h2>
        <div class="mdl-grid">
            @for(item <- items) {
            <div class="mdl-cell mdl-cell--3-col">
                <a id="@item.getId">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <p id="name@item.getId">@item.getName</p>
                            <p id="price@item.getId">$@item.getPrice</p>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col cart mdl-shadow--2dp">
        <h2>Cart</h2>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <ul class="transactions">

                </ul>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <ul class="price">

                </ul>
            </div>
        </div>
        <div class="mdl-grid total">
            <h4>Total:</h4>
            <h4 id="totalCost" class="value">$0.00</h4>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white confirm-button">
            Confirm
        </button>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/transaction.js")"></script>
    @for(item <- items) {
        <script>
            bindAddItem(@item.getId);
        </script>
    }
<script>
    $('.confirm-button').click(function () {
    if (transArray.length == 0) {
        alert('No transactions were added.');
    } else {
        transArray.unshift({"saleId": @sale.getId});
        $.ajax({
            url: '@routes.CatalogController.makeTransaction()',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(transArray),
            success: function () {
            }
        });
        alert("Transaction has been made!");
        location.reload();
    }
});
</script>
}